<%= form_for @artist, url: { action: "destroy" } do |f| %>
<div class="panel panel-primary">
  <div class="panel-heading">
    Delete artist:
    <%= @artist.name %>
  </div>

  <div class="panel-body">
    <%= f.submit "Delete", class:"btn btn-primary" %>
  </div>
</div>
<% end %>
