<form onSubmit="submitSong(); return false">

  <div class="form-group">
    <label>Song title</label>
    <input type="text" id="new-song" name="Song title" placeholder="Title of the song" class="form-control">
    <label>Track length</label>
    <input type="text" id="new-length" name="Song length" placeholder="3:54" class="form-control">
  </div>

  <div class="actions">
    <input type="submit" id="save" value="Save" class="btn btn-primary" >
    <%= link_to "Cancel", artists_path, class: "btn btn-default" %>
  </div>
</form>
