<%= form_for(song) do |f| %>
  <div class="form-group <%= song.errors.any? ? 'has-error' : '' %>" id="formgroup-title">
    <label>Add a new song:</label>
    <%= f.text_field :title, placeholder: "Title of the song", class: 'form-control' %>

    <% if song.errors.any? %>
      <% song.errors.full_messages.each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
