
<div class="cover-container">

  <!-- Intro -->
  <div class="inner cover">
    <h1 class="cover-heading">Codaisseurify.</h1>
    <p class="lead">Build your personal music collection.<br>Find, add and update your favorite artists and their songs.</p>
    <p class="lead">
      <a href="artists/" class="btn btn-lg btn-primary outside">View Artists</a>
    </p>
  </div>
</div>
